@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');
footer {text-align: center;}

header
{
    background-color: #cfff00;
}

:root 
{
  font-family:'Abel' ;
    margin : 0;
}

.hidden {
  display: none;
}


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
  }
  
  li a.active {
    background-color: #000;
    color: white;
  }
  
  li a:hover:not(.active) {
    background-color: #cfff00;
    color: white;
  }



